   @font-face {
        font-family: mdprimertest;
        src: url(font/MDPrimerTest-Bold.otf);

   }
body{
    background: gradient(darkgrey, rgb(53,53,53));
    background-size: cover;
    height: 100vh;
    margin: 0px;
 display: grid;
flex-direction: row;
grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));

}   


.card{
    background: linear-gradient(to right, grey, black);
    width: 250px;
    height: 300px;
    border-radius: 20px;
    margin: 50px auto;
    padding: 10px 20px;
}

.small {
    color: orangered;
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
   
}

h3{
    color: white;
}

img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.name{
    color: white;
    font-weight: bold;
}

.art{
    color: darkgray;
font-family: mdprimertest;
    }


.profile{
    display: flex;
    
}

.ttl{
    font-family: mdprimertest;
}

.name{
    font-family: mdprimertest;
}