body{
    background: rgb(46, 43, 43);
    padding-top: 20px;

}

button{
    font-size: 14px;
    background-color: grey;
    border-radius: 6px;
    font-family: sans-serif;    
    color: #ffffff; 
    font-weight: 900;

    border: none;
    padding: 8px 21px;
    
}