body{
    background: rgb(46, 43, 43);
    padding-top: 20px;

}

button{
    font-size: 20px;
    background-color: grey;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;    
    color: #ffffff; 
    font-weight: 800;
    
}